.trafic-light {
    width: 160px;
    background-color: black;
    border-radius: 20px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: auto;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.red { background-color: #8B0000; }
.yellow { background-color: #FF8C00; }
.green { background-color: #008000; }

.brillo {
    box-shadow: 
        0 0 30px yellow;
}
.palito {
    width: 30px;
    height: 200px;
    background-color: black;
    margin: 0 auto;
}